name: R-CMD-check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
      - name: Install dependencies
        run: |
          Rscript -e "install.packages(c('remotes'))"
          Rscript -e "remotes::install_cran(c('devtools','roxygen2'))"
      - name: Run R CMD check
        run: |
          R CMD build .
          PKG_TARBALL=$(ls -1t *.tar.gz | head -n1)
          R CMD check "$PKG_TARBALL" --no-manual --as-cran
